*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;

}

.container1{
    /* border: 2px solid rgb(28, 49, 204); */
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ce4be8 0%, #207ce5 100%);
   
}

.maincontent1{
    /* border: 2px solid red; */
    height: 550px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards1{
    /* border: 2px solid black; */
    width: 23%;
    height: 450px;
     
}

.head1{
    /* border: 2px solid rgb(209, 46, 46); */
    height: 100px;
    display: flex;
    align-items: center;
    
}
.head1 h1 a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    color: white;

}

.content1{
    /* border: 2px solid black; */
    height: 150px;
}
.content1 p{
    font-size: 20px;
    line-height: 30px;
    color: white;

}

.logo1{
    /* border: 2px solid black; */
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
}
.logo1 i{
    /* border: 2px solid black; */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: aqua;
    color: white;
    border-radius: 50%;

}
.list1{
    /* border: 2px solid red; */
    height: 78%;
    
    
}

.list1 ul li{
   list-style: none;
   padding: 17px 0px;
   font-size:20px ;
   color: white;

  
}
.addres1{
    /* border: 2px solid rgb(9, 87, 12); */
    height:100px ;
    display: flex;
    gap: 30px;
    align-items: center;
}

.addres1 i{
   font-size: 30px;
   color: aqua;
}

.addres1 p{
    font-size: 15px;
    color: white;
}

.contact1{
    /* border: 2px solid rgb(9, 87, 12); */
    height:100px ;
}

.info1{
    /* border: 2px solid rgb(9, 87, 12); */
    height:100px ;
}

.footer1{
    /* border: 2px solid black; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ce4be8 0%, #207ce5 100%);
    color: white;

}

.footer1 p a{
    color: yellow;
}

.footer1 p{
    font-size: 18px;
}

.footer1 i{
    color: red;
}
